2 Sample Hypothesis Testing

In [76]:
import pandas as pd
import numpy as np
from scipy import stats
from math import sqrt
from platform import python_version

In [77]:
print(python_version())

3.7.4

Importing the Dataset

In [53]:
data = pd.read_csv('Question5.csv')
data

    Dataset1  Dataset2 Two-Tail
0        150     112.0       No
1        145      84.0      NaN
2        132      97.0      NaN
3        171     125.0      NaN
4        124     134.0      NaN
5         85     112.0      NaN
6         97      85.0      NaN
7        112     134.0      NaN
8        132       NaN      NaN
9        105       NaN      NaN
10       123       NaN      NaN
11       147       NaN      NaN
12        72       NaN      NaN
13       112       NaN      NaN

Segregration of NAN & Valid Values

In [31]:
df = pd.DataFrame(data['Dataset1'])
Dataset1_valid = df.dropna().astype(int)
Dataset1_valid

    Dataset1
0        150
1        145
2        132
3        171
4        124
5         85
6         97
7        112
8        132
9        105
10       123
11       147
12        72
13       112

Segregation of NAN & Valid Values for 2nd column in CSV

In [32]:
df2 = pd.DataFrame(data['Dataset2'])
Dataset2_valid = df2.dropna().astype(int)
Dataset2_valid

   Dataset2
0       112
1        84
2        97
3       125
4       134
5       112
6        85
7       134

Mean of 1st dataset:

In [33]:
X1_bar = np.mean(Dataset1_valid)
X1_bar

Dataset1    121.928571
dtype: float64

Mean of 2nd dataset:

In [34]:
X2_bar = np.mean(Dataset2_valid)
X2_bar

Dataset2    110.375
dtype: float64

N1 & N2:

In [35]:
n1 = len(Dataset1_valid)
n1

14

In [36]:
n2 = len(Dataset2_valid)
n2

8

Variance of Datasets:

In [37]:
var1 = Dataset1_valid.var()
var1

Dataset1    732.840659
dtype: float64

In [38]:
var2 = Dataset2_valid.var()
var2

Dataset2    407.696429
dtype: float64

T-Test for two sampled

In [39]:
T = (float(X1_bar) - float(X2_bar))/sqrt(float(var1)/n1 + float(var2)/n2)
T

1.1367099608694233

Degree

In [40]:
Degree = n1 + n2 - 2
Degree

20

Enter the Significance value (e.g 90% = 0.9)

In [41]:
significance = input()

If significance value is not given, it assumes 95%

In [45]:
if(significance == 0 or significance == ''):
        significance = 0.95
significance

0.95

Alpha Value

In [46]:
Alpha = 1 - significance
Alpha

0.050000000000000044

Value taken from T - Table

In [70]:
Two_tail = data['Two-Tail'].iloc[0]
if Two_tail == 'Yes':
    H = stats.t.ppf(1 - Alpha/2,Degree)
else:
    H = stats.t.ppf(1 - Alpha,Degree)
H

1.7247182429207857

Step 4: Check whether reject or accept null hypothesis

In [71]:
if(H > T):
    print("The decision is to retain the null hypothesis")
else:
    print("The decision is to reject the null hypothesis & we found that alternative hypothesis is the correct Hypothesis")

The decision is to retain the null hypothesis