In [4]:
import numpy as np
import pandas as pd
from math import sqrt
from scipy import stats

Importing the Dataset

In [7]:
data = pd.read_csv('Question4.csv')
data

    Dataset   Mean    SD Two-Sided
0       304  450.0  90.0        No
1       593    NaN   NaN       NaN
2       557    NaN   NaN       NaN
3       234    NaN   NaN       NaN
4       630    NaN   NaN       NaN
5       405    NaN   NaN       NaN
6       384    NaN   NaN       NaN
7       458    NaN   NaN       NaN
8       310    NaN   NaN       NaN
9       641    NaN   NaN       NaN
10      525    NaN   NaN       NaN
11      536    NaN   NaN       NaN
12      654    NaN   NaN       NaN
13      214    NaN   NaN       NaN
14      563    NaN   NaN       NaN
15      370    NaN   NaN       NaN
16      299    NaN   NaN       NaN
17      540    NaN   NaN       NaN
18      401    NaN   NaN       NaN
19      525    NaN   NaN       NaN

Finding X Bar:

In [10]:
X_Bar = np.mean(data['Dataset'])
X_Bar

457.15

N:

In [11]:
n = len(data['Dataset'])
n

20

Given Mean(Mu)

In [12]:
Mu = data['Mean'].iloc[0]
Mu

450.0

Given SD(Sigma)

In [13]:
Sigma = data['SD'].iloc[0]
Sigma

90.0

In [15]:
Two_Sided = data['Two-Sided'].iloc[0]
Two_Sided

'No'

Calculating Z-score for hypothesis Testing

In [17]:
Z_Score = (X_Bar - Mu)/(Sigma/sqrt(n))
Z_Score

0.3552863564249655

Enter the Significance value (e.g 90% = 0.9)

In [19]:
significance = input()

If significance value is not given, it assumes 95%

In [20]:
if(significance == 0 or significance == ''):
        significance = 0.95
significance

0.95

Alpha Value

In [22]:
Alpha = 1 - float(significance)
Alpha

0.050000000000000044

Value taken from Z table

In [24]:
significance_lvl = 0
if(Two_Sided == 'Yes'):
    significance_lvl = stats.norm.ppf(1-Alpha/2)
else:
    significance_lvl = stats.norm.ppf(1-Alpha)
significance_lvl

1.6448536269514722

Step 4: Check whether reject or accept null hypothesis

In [25]:
if(significance_lvl > Z_Score):
    print("The decision is to retain the null hypothesis")
else:
    print("The decision is to reject the null hypothesis & we found that alternative hypothesis is the correct Hypothesis")

The decision is to retain the null hypothesis